
.header-container {
    border-bottom: 1px solid #cacaca;
}

.footer-container,
.main aside {
   
}

.header-container,
.footer-container,
.main aside {
   
}

.title {
    width:100%;
    text-align: center;
    color: #333;
    text-align: center;
}

div.meme_image{
    width: 500px;
    height: 500px;
    margin:30px auto;
    position: relative;
    box-shadow: 0px 0px 10px #666;
}

p.text_top, p.text_bottom{
    text-align: center;
    color: #fff;
    font-weight: bold;  
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    line-height: 100%;
    font-size: 3em;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2.00px; 
}


p.text_bottom{
    display: block;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;

}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

.footer-container{
    width: 100%;
    background:#333;
    border-top:2px solid #cacaca;
    position: fixed;
    bottom:0px;
}

.footer-container h3{
    color:#fff;
    width:100%;
    margin:0 auto;
    text-align: center;
}

.link-wrapper{
    width:500px;
    margin:0 auto;
}



/*
===============
MANAGE PAGE
===============
*/

.manage{
    margin-bottom: 100px;
}

.manage form{
    padding: 60px;
}






